.header__menu_auth {
  right: 104px;
  top: 19px;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  background: none;
  padding: 12px;
}

@media screen and (max-width: 900px) {
  .header__menu_auth {
    top: 14px;
    right: 40px;
    padding: 8px 15px;
  }
}