.author__image {
  margin-top: 80px;
  margin-left: 104px;
  margin-bottom: 80px;
  width: 464px;
  height: 464px;
  object-fit: cover;
  border-radius: 1000px;
}

@media screen and (max-width: 1024px) {
  .author__image {
    width: 232px;
    height: 232px;
    margin-top: 61px;
    margin-left: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 700px) {
  .author__image {
    width: 272px;
    height: 272px;
    margin: 32px auto 0;
  }
}