.author__image {
  margin-top: 80px;
  margin-left: 104px;
  max-width: 464px;
  height: 464px;
  border-radius: 1000px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .author__image {
    max-width: 232px;
    height: 232px;
    margin-top: 61px;
    margin-left: 40px;
  }
}