@import url(./__image/author__image.css);
@import url(./__content/author__content.css);
@import url(./__title/author__title.css);
@import url(./__text/author__text.css);

.author {
  width: 1440px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

@media screen and (max-width: 1439px) and (min-width: 768px){
  .author {
    width: 100%;
  }
}