.footer__socials_github {
  right: 152px;
}

.footer__socials_github::before {
  content: url(/src/images/github.svg);
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1024px) {
  .footer__socials_github {
    right: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer__socials_github {
    right: 64px;
  }
}