.background-image {
  width: 1440px;
  background-image: url('/src/images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg');
  background-size: contain;
}

@media screen and (max-width: 1439px){
  .background-image {
    width: 100%;
    background-size: cover;
  }
}