.header__menu_active-black {
  padding-bottom: 26px;
  border-bottom: 3px solid #1a1b22;
}

@media screen and (max-width: 900px) {
  .header__menu_active-black {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 650px) {
  .header__menu_active-black {
    padding: 0;
    border: none;
  }
}