.header__menu_active {
  padding-bottom: 23px;
  border-bottom: 3px solid #ffffff;
}

.header__black .header__menu_active {
  border-color: #1a1b22;
  padding-bottom: 26px;
}

@media screen and (max-width: 900px) {
  .header__menu_active {
    padding-bottom: 17px;
  }

  .header__black .header__menu_active {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 650px) {
  .header__menu_active {
    padding: 0;
    border: none;
  }
}