.header__menu-button_open {
  background: none;
  background-image: url(../../../../images/menu-white.svg);
}

.header__black .header__menu-button_open {
  background-image: url(../../../../images/menu-black.svg);
}