.footer__rights {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  margin-left: 104px;
  margin-top: 32px;
  margin-bottom: 26px;
}