.search__button {
  width: 168px;
  height: 64px;
  background: #2F71E5;
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

@media screen and (max-width: 900px) {
  .search__button {
    height: 56px;
  }
}

@media screen and (max-width: 500px) {
  .search__button {
    position: static;
    margin: 16px auto 0;
    width: 288px;
    display: block;
  }
}