.footer__yandex {
  padding: 0 12px;
}

@media screen and (max-width: 1024px) {
  .footer__yandex {
    padding: 0 8px;
  }
}

@media screen and (max-width: 767px) {
  .footer__yandex {
    display: block;
  }
}