@import url(./_auth/header__menu_auth.css);
@import url(./_main/header__menu_main.css);

.header__menu {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  position: absolute;
}

@media screen and (max-width: 900px) {
  .header__menu {
    font-size: 16px;
  }
}