.search__field {
  width: 608px;
  height: 64px;
  margin: 64px auto 80px;
  position: relative;
  border-radius: 100px;
  background: #ffffff;
}

@media screen and (max-width: 900px) {
  .search__field {
    width: 448px;
    height: 56px;
    margin-bottom: 48px;
    margin-top: 48px;
  }
}