.search__field {
  width: 608px;
  margin: 64px auto 80px;
  position: relative;
  border: 0;
}

@media screen and (max-width: 900px) {
  .search__field {
    width: 448px;
    margin-bottom: 48px;
    margin-top: 48px;
  }
}

@media screen and (max-width: 500px) {
  .search__field {
    width: calc(100% - 32px);
    margin-top: 122px;
    margin-bottom: 32px;
  }
}