.popup__button-error {
  display: block;
  font-size: 12px;
  line-height: 15px;
  visibility: hidden;
  margin: 4px auto 0;
  color: #ff0000;
  height: 14px;
  text-align: center;
}

.popup__button-error.popup__is-not-valid {
  visibility: visible;
}