.card__save {
  display: inline-block;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  background-image: url(/src/images/bookmark.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  border: 0;
}

@media screen and (max-width: 900px) {
  .card__save {
    top: 8px;
    right: 8px;
  }
}