.footer__main {
  padding: 0 12px;
}

@media screen and (max-width: 1024px) {
  .footer__main {
    padding: 0 8px;
  }
}

@media screen and (max-width: 767px) {
  .footer__main {
    display: block;
    margin-bottom: 20px;
  }
}