@import url(./__logo/header__logo.css);
@import url(./__menu/header__menu.css);

.header {
  min-width: 100%;
  max-width: 1440px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.3);
  position: relative;
}